{% load static %}

<html>
    <head>
        <title>MS Hackathon</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            function analyze() {
                console.log("analyzing text")

                var input = {
                    'text': $("#input_text_area").val(),
                }

                $.ajax({
                    url: 'analyze/',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(input),
                    dataType: 'text',
                    success: function (data) {
                        var response = JSON.parse(data)
                       document.getElementById("rf").innerHTML = response['Random Forest Classifier'];
                       document.getElementById("et").innerHTML = response['Extra Trees Classifier'];
                       document.getElementById("dt").innerHTML = response['Decision Tree Classifier'];
                       document.getElementById("lr").innerHTML = response['Logistic Regression Classifier'];
                       document.getElementById("nb").innerHTML = response['Naive Bayes Classifier'];
                    },
                });
            }
        </script>
    </head>
    <body>
        <div id ='title'>
            <h1>NPS Tagger</h1>
        </div>
        <div>
            <h3>Input</h3>
            <textarea id="input_text_area" rows="6" cols="90"></textarea>
            <button onclick="analyze();">Analyze</button>
            <div>
                <p><b>Random Forest Classifier:</b> <span id="rf"></span></p>
            </div>
            <div>
                <p><b>Extra Trees Classifier:</b> <span id="et"></span></p>
            </div>
            <div>
                <p><b>Decision Tree Classifier:</b> <span id="dt"></span></p>
            </div>
            <div>
                <p><b>Logistic Regression Classifier:</b> <span id="lr"></span></p>
            </div>
            <div>
                <p><b>Naive Bayes Classifier:</b> <span id="nb"></span></p>
            </div>
        </div>
    </body>
</html>